<h1>contact page</h1>

<%# <form action="/contact" method="get">
  <label for=""></label>
  <input type="text">
  <input type="text">
  <input type="submit" value="Search">
</form> %>

<form action="/contact" method="get">
  <input type="text" name="member" placeholder="Who are you looking for?">
  <input type="submit">
</form>

<h2>Meet our team</h2>
